.App {
  background: linear-gradient(#386998, #e0eaf3);
  min-width: 600px;
  max-width: 800px;
  min-height: 600px;
  max-height: 850px;
  text-shadow: 2px 2px 5px #2f5a81;
  color: #fff;
  font-size: 12pt;
  font-family: 'Mauren', serif;
  padding: 20px;
}

.App-header {
  height: 65px;
  padding-top: 10px;
  font-family: 'Mauren', serif;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 38pt;
  float: right;
}

h2 {
  font-size: 18pt;
  font-family: 'Mauren', serif;
  color: #fff;
  display: block;
  text-align: center;
  justify-content: center;
}

img {
  padding-right: 25px;
  float: left;
}

input[type='text'],
input[type='url'],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

Button:hover {
  background-color: #386998;
}

div {
  background-color: transparent;
}

label {
  font-weight: 600;
}

Button {
  width: 100%;
  background-color: #437eb6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Mauren', serif;
  font-size: 22px;
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
