.my-header {
    border-bottom: 2px #6baeec solid;
    color: #6baeec;
    font-family: 'Yeseva One', cursive;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    text-align: center;
}

.btm-nav {
    height: 4rem;
}

.btm-nav p {
    text-align: center;
}
