.form {
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 20px;
}
.edit {
    width: 100%;
    padding: 0;
    background-color: #dddddd;
}
.forms {
    width: 100%;
    border: 1px solid #ccc;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.title img {
    width: 140px;
    height: 140px;
    margin-top: 20px;
    border-radius: 50%;
}
