.card-body {
    width: 100% !important;
}
.card {
    width: 100%;
    border: none !important;
    margin-top: 20px;
}
.line {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.paybut {
    margin-top: 20px;
}
.form-switch {
}
.btn {
    width: 200px;
}
