.sidebar {
    background-image: linear-gradient(to bottom, #6baeec, rgba(255, 0, 0, 0));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: -0.5rem;
    text-align: center;
}

.sidebar h2 {
    margin-top: 0.5rem;
    font-family: "Josefin Sans", sans-serif;
}

.category-link {
    text-decoration: none;
}
.category-btn {
    text-align: left !important;
}
