.my-nav {
    background-image: url("../pages/Carousel/nav-cropped.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.my-brand {
    /* font-family: 'Yeseva One', cursive; */
    font-size: 2rem;
    margin-left: 1rem;
    color: white !important;
}

#collasible-nav-dropdown {
    color:white;
}