h2{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}

.btm-nav {
    width: inherit;
    position: fixed;
    bottom: 0;
    height: 75px;
    line-height: 7;
    text-align: center;
    background-image: linear-gradient(to top, white, rgba(255,0,0,0));
}